.layout {
    gap: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header"
        "mainInfo"
        "description"
        "buttons";
    ;
    grid-template-rows: auto auto 1fr auto;
}

.layout * {
    color: var(--color-text-main);
}

.layout input {
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.layout label {
    cursor: pointer;
}

.layout label:hover input {
    transform: scale(1.02);
}

.layout input:focus {
    transform: scale(1.05);
}

.header {
    grid-area: "header";
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background: var(--color-blanco);
    border-radius: 1.5rem;
    box-shadow: 0 4px 12px var(--color-box-shadow-main);
    padding: 2rem;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--color-rosa-fuerte);
    object-fit: cover;
}

.userInfo h1 {
    font-size: 1.5rem;
    color: var(--color-rosa-fuerte);
    margin: 0;
}

.userInfo h2 {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

.userInfo p {
    margin: 0;
    font-size: 0.95rem;
    color: var(--color-gris);
}

.mainInfo {
    grid-area: "mainInfo";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.cardSection {
    background: var(--color-blanco);
    border-radius: 1.2rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px var(--color-box-shadow-main);
}

.cardSection h3 {
    color: var(--color-rosa);
    margin-bottom: 1rem;
}

.cardSection p {
    margin: 0.5rem 0;
}

.cardSection strong {
    color: var(--color-rosa-fuerte);
}

.description {
    grid-area: "description";
    background: var(--color-blanco);
    border-radius: 1.2rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px var(--color-box-shadow-main);
}

.description h3 strong {
    margin-bottom: 0.8rem;
    color: var(--color-rosa);
}

.buttons {
    grid-area: "buttons";
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: var(--color-blanco);
    padding: 10px;
    border-radius: 1rem;
}

.saveButton,
.cancelButton {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--color-blanco);
    text-align: center;
}

.saveButton {
    background: var(--color-accent);
}

.saveButton:hover {
    background: var(--color-rosa-fuerte);
    color: var(--color-blanco);
}

.cancelButton {
    border: 2px solid var(--color-rosa);
    color: var(--color-rosa);
    transition: all 0.3s ease;
}

.cancelButton:hover {
    border: 2px solid var(--color-rojo-fuerte);
    color: var(--color-rosa-fuerte);
    box-shadow: inset 0 0 10px 1px var(--color-rosa-fuerte);
}

@media (max-width: 659px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        grid-template-columns: 1fr;
    }
}