/* login.module.css */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: auto;
}

.container * {
    color: var(--color-text-main);
}

.side {
    color: var(--color-text-default);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.side * {
    color: var(--color-text-default);
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.image {
    margin-top: 2rem;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.formWrapper {
    background: white;
    color: var(--color-text-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.tabs {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ccc;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
}

.tabActive {
    color: var(--color-accent);
    border-bottom: 4px solid var(--color-accent);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.group input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.group input:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 2px var(--color-accent);
}

.submit {
    padding: 0.75rem;
    background: var(--color-accent);
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit:hover {
    background: var(--color-rosa-fuerte);
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.switch {
    color: var(--color-accent);
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }

    .side {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
        gap: 10px;
    }

    .side img {
        flex: 1;
        max-width: 150px;
        margin-top: 0;
    }
}

@media screen and (max-width: 479px) {
    .group {
        grid-template-columns: 1fr;
        gap: 0px
    }
}